<ul class="sidebar-nav">
    <li>
        <a href ui-sref="inicio" class="active"><i class="fa fa-home sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Início</span></a>
    </li>
    <li>
        <a class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-nameplate sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Cadastros</span></a>
        <ul>
            <li>
                <a href ui-sref="cadastros-clientes-lista">Representados</a>
            </li>
            <li>
                <a href ui-sref="cadastros-clientes-aprovacao">Aprovação</a>
            </li>
        </ul>
    </li>
    <li>
        <a class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-nameplate sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Configurações</span></a>
        <ul>
            <li>
                <a href ui-sref="cadastros-atividade-lista">Atividades</a>
            </li>
            <li>
                <a href ui-sref="cadastros-cnae-lista">CNAE</a>
            </li>
            <li>
                <a href ui-sref="cadastros-naturezajuridica-lista">Natureza Jurídica</a>
            </li>
            <li>
                <a href ui-sref="periodicidades-lista">Períodicidades</a>
            </li>
            <li>
                <a href ui-sref="cadastros-planospagamento-lista">Planos de Pagamento</a>
            </li>

            <li>
                <a href ui-sref="cadastros-perfil-lista">Perfis de Usuário</a>
            </li>
            <li>
                <a href ui-sref="cadastros-situacaocadastro-lista">Situações Cadastro</a>
            </li>
            <li>
                <a href ui-sref="cadastros-tipocolaborador-lista">Tipos de Colaborador</a>
            </li>
            <li>
                <a href ui-sref="cadastros-usuario-lista">Usuários</a>
            </li>
        </ul>
    </li>
    <li>
        <a class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-nameplate sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Financeiro</span></a>
        <ul>
            <li>
                <a href ui-sref="agencias-lista">Agências</a>
            </li>
            <li>
                <a href ui-sref="bancos-lista">Bancos</a>
            </li>
            <li>
                <a href ui-sref="contribuicoes-lista">Cadastro Contribuições</a>
            </li>
            <li>
                <a href ui-sref="centroscusto-lista">Centros de Custo</a>
            </li>
            <li>
                <a href ui-sref="contas-a-pagar-lista">Contas a Pagar</a>
            </li>
            <li>
                <a href ui-sref="contas-a-receber-lista">Contas a Receber</a>
            </li>

            <li>
                <a href ui-sref="contascontabeis-lista">Contas Contábeis</a>
            </li>
            <li>
                <a href ui-sref="domiciliosbancarios-lista">Domicílios Bancários</a>
            </li>
            <li>
                <a href ui-sref="lancamentos-pagamento-lista">Lançamentos Pagamento</a>
            </li>
            <li>
                <a href ui-sref="lancamentos-recebimento-lista">Lançamentos Recebimento</a>
            </li>

            <li>
                <a href ui-sref="contribuicoes-geracaolote">Geração Contribuições</a>
            </li>

            <li>
                <a href ui-sref="fornecedores-lista">Fornecedores</a>
            </li>

            <li>
                <a href ui-sref="sindicatos-lista">Sindicatos</a>
            </li>
		</ul>
    </li>

	<!-- CURSOS -->
    <li>
        <a class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-nameplate sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Cursos</span></a>
        <ul>
            <li>
                <a href ui-sref="cursos-areainteresse-lista">Áreas de Interesse</a>
            </li>
            <li>
                <a href ui-sref="cursos-aula-lista">Aulas</a>
            </li>
            <li>
                <a href ui-sref="cursos-avaliacao-lista">Avaliações</a>
            </li>
            <li>
                <a href ui-sref="cursos-categoria-lista">Categorias</a>
            </li>
            <li>
                <a href ui-sref="cursos-comunicado-lista">Comunicados</a>
            </li>
            <li>
                <a href ui-sref="cursos-curso-lista">Cursos</a>
            </li>
            <li>
                <a href ui-sref="cursos-desconto-lista">Descontos</a>
            </li>
            <li>
                <a href ui-sref="cursos-documento-lista">Documentos</a>
            </li>
            <li>
                <a href ui-sref="cursos-evento-lista">Eventos</a>
            </li>
            <li>
                <a href ui-sref="cursos-feriado-lista">Feriados</a>
            </li>
            <li>
                <a href ui-sref="cursos-inscricao-lista">Inscrições</a>
            </li>
            <li>
                <a href ui-sref="cursos-instrutor-lista">Instrutores</a>
            </li>
            <li>
                <a href ui-sref="cursos-insumo-lista">Insumos</a>
            </li>
            <li>
                <a href ui-sref="cursos-layoutnotificacao-lista">Layouts Notificação</a>
            </li>
            <li>
                <a href ui-sref="cursos-localidade-lista">Localidades</a>
            </li>
            <li>
                <a href ui-sref="cursos-parceiro-lista">Parceiros</a>
            </li>
            <li>
                <a href ui-sref="cursos-participante-lista">Participantes</a>
            </li>
            <li>
                <a href ui-sref="cursos-patrocinador-lista">Patrocinadores</a>
            </li>
            <li>
                <a href ui-sref="cursos-pergunta-lista">Perguntas</a>
            </li>
            <li>
                <a href ui-sref="cursos-planopagamento-lista">Planos Pagamento</a>
            </li>
            <li>
                <a href ui-sref="cursos-planoparcelamento-lista">Planos Parcelamento</a>
            </li>
            <li>
                <a href ui-sref="cursos-regradesconto-lista">Regras Desconto</a>
            </li>
            <li>
                <a href ui-sref="cursos-resposta-lista">Respostas</a>
            </li>
            <li>
                <a href ui-sref="cursos-situacaoturma-lista">Situações Turma</a>
            </li>
            <li>
                <a href ui-sref="cursos-tipocurso-lista">Tipos Cursos</a>
            </li>
            <li>
                <a href ui-sref="cursos-tipoinsumo-lista">Tipos Insumos</a>
            </li>
            <li>
                <a href ui-sref="cursos-tipopergunta-lista">Tipos Pergunta</a>
            </li>
            <li>
                <a href ui-sref="cursos-turma-lista">Turmas</a>
            </li>
            <li>
                <a href ui-sref="cursos-unidade-lista">Unidades</a>
            </li>
            <li>
                <a href ui-sref="cursos-videoaula-lista">Video Aulas</a>
            </li>
        </ul>
    </li>
    <!-- /CURSOS -->

    <li class="sidebar-separator">
        <i class="fa fa-ellipsis-h"></i>
    </li>
</ul>
