<div ng-controller="FinanceiroDomicilioBancarioCtrl">
	<div ng-include="'core/common/views/cadastro-header.html'" scope="" onload=""></div>

	<div class="row">
		<div class="col-lg-12">
			<tabs>
				<pane title="Dados Gerais">
					<form id="form-validation" novalidate name='formObj' method="post">
						<div class="block">
							<div class="form-horizontal">
								<input-text field="nome" label="Nome"></input-text>
								<input-select field="banco" label="Banco" 
											options="bancos" ngchange="buscaragencias()"></input-select>
								<input-select field="agencia" label="Agência" options="agencias"></input-select>
								<input-number field="conta" label="Conta"></input-number>
								<input-number field="digitoconta" label="Dígito"></input-number>

								<div ng-include="'core/common/views/cadastro-actions.html'"></div>
							</div>
						</div>
					</form>
				</pane>
			</tabs>
		</div>
	</div>
</div>
