<div class="content-header">
	<div class="row">
		<div class="col-sm-6">
			<div class="header-section">
				<h1>Consulta de {{config.resource.desc}}</h1>
			</div>
		</div>
		<div class="col-sm-6 hidden-xs">
			<div class="header-section">
				<ul class="breadcrumb breadcrumb-top">
					<li><a href ui-sref="/">Início</a></li>
					<li>{{config.module.desc}}</li>
					<li>{{config.resource.desc}}</li>
					<li><a href ui-sref="{{states.lista.fullName}}">Consulta</a></li>
				</ul>
			</div>
		</div>
		<div class="header-section">
			<div class="form-horizontal">
				<div class="form-group col-lg-12"></div>
				<div class="form-group col-lg-9">
					<div class="col-md-4">
						<input type="text" ng-model='searchParams.pesquisaunica' class="form-control" placeholder="Pesquise pelo Nome ou CPF"
						my-enter="lista(searchParams)"
						>
					</div>


					<label class="col-md-2 control-label">Data de Nasc.</label>
					
					<div class="col-md-3">
						<p class="input-group">
							<input type="text" ng-model="searchParams.dtnascimento"class="form-control" uib-datepicker-popup="dd/MM/yyyy" 
							ng-init="dtnascimento.opened = false" 
							is-open="dtnascimento.opened" 
							datepicker-options="dateOptions" 
							show-button-bar = "false"
							alt-input-formats="altInputFormats" ui-mask="99/99/9999" ui-mask-placeholder="" 
							ui-mask-placeholder-char="space" 
							model-view-value="true"
							my-enter="lista(searchParams)" />
							<span class="input-group-btn">
								<button type="button" 
								class="btn btn-default" 
								ng-click="dtnascimento.opened = true">
									<i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>
					</div>
					
							
					<a href ng-click="lista(searchParams)" class="btn btn-effect-ripple btn-effect-ripple btn-primary">
						<span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;Pesquisar
					</a>
				</div>
				<div class="form-group col-lg-3">
					<div class="text-right">
						<a href ui-sref="{{states.cadastro.fullName}}" class="btn btn-effect-ripple btn-effect-ripple btn-primary">
							<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Novo
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
