<div ng-include="'core/common/views/lista-header.html'"></div>

<div class="block full">
	<div class="block-title">
		<h2>Registros Encontrados</h2>
	</div>
	<div class="table-responsive">
		<table id="example-datatable" class="table table-striped table-bordered table-vcenter">
			<thead>
				<tr>
					<th ng-repeat="col in config.listCols">{{col.desc}}</th>
					<th width="200">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="obj in searchReturn">
					<td ng-repeat="col in config.listCols">
						<span ng-if="(col.subname == undefined || col.subname == '') && 
										col.name.indexOf('valor_') < 0 && col.name.indexOf('data_') < 0
										">
							{{obj[col.name]}}
						</span>
						<span ng-if="col.name.indexOf('valor_') >= 0">
							{{obj[col.name] | currency}}
						</span>
						<span ng-if="col.name.indexOf('data_') >= 0">
							{{obj[col.name] | date:'dd/MM/yyyy'}}
						</span>
						<span ng-if="col.subname != 'undefined'">
							{{obj[col.name][col.subname]}}
						</span>		
					</td>
					<td>
						<a ui-sref="{{states.cadastro.fullName}}({id : '{{obj._id}}' })" class="btn btn-primary btn-sm" title="Visualizar">
							<!--span class="glyphicon glyphicon-eye-open"></span-->
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
