<div ng-controller="FinanceiroContaAPagarCtrl">
	<div ng-include="'core/common/views/cadastro-header.html'" scope="" onload=""></div>

	<div class="row">
		<div class="col-lg-12">
			<tabs>
				<pane title="Dados Gerais">
					<form id="form-validation" novalidate name='formObj' method="post">
						<div class="block">
							<div class="form-horizontal">
								<input-text field="nome" label="Nome"></input-text>
								<input-select field="centrodecusto" label="Centro de Curso" options="centrosdecusto"></input-select>
								<input-select field="contacontabil" label="Conta Contábil" options="contascontabeis"></input-select>
								<input-select field="tipo" label="Tipo" options="">
									<option value="f">Fixa</option>
									<option value="p">Previsão</option>
								</input-select>
								<input-check field="imposto" label="Imposto"></input-check>
								<input-text field="aliquota" label="Alíquota" data-ng-required="contaapagar.imposto == 1" attrs="ui-percentage-mask ui-percentage-value"></input-text>
								<input-select field="fornecedor" label="Fornecedor" options="fornecedores" data-ng-required="contaapagar.imposto == 0"></input-select>
								<input-text field="diasavisovencimento" label="Dias Aviso"></input-text>
								<input-select field="periodicidade" label="Periodicidade" options="periodicidades" data-ng-required="contaapagar.tipo == 'f'"></input-select>
								<input-number field="diavencimento" label="Dia de Vencimento" data-ng-required="contaapagar.tipo == 'f'" data-max="31"></input-number>
								<input-date field="data_vencimento" label="Data de Vencimento" data-ng-required="contaapagar.tipo == 'p'"></input-date>

								<div ng-include="'core/common/views/cadastro-actions.html'"></div>
							</div>
						</div>
					</form>
				</pane>
			</tabs>
		</div>
	</div>
</div>
